@import '../styles/basic.scss';

html {
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  min-width: 400px;
  font-size: 14px;
  font-family: 'Play', sans-serif;
}

* {
  box-sizing: border-box;
}

#root {
  visibility: hidden;

  &.ready {
    visibility: visible;
  }
}

.app {
  margin: 0 auto;

  .content {
    width: 100%;
    min-height: 200px;
  }
}
