$item-height: 90px;
::placeholder{
	font-size: 14px;
}

.msg-wrapper {
  padding: 25px 25px 0;
  font-size: 14px;

  p {
    margin-bottom: 20px;
    line-height: 1.8em;

    &.actions {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}

body {
  padding: 20px;
}

.element-wrapper {
  .actions {
    button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
  .element-image {
    box-sizing: content-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    //width:  $item-height * 4 / 3;
    height: $item-height;
    border: 1px solid #eee;
    margin-bottom: 20px;
    img {
      // max-width: $item-height * 4 / 3;
      max-height: $item-height;
      overflow: hidden;
      object-fit: contain;
    }
    .selection-text {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      max-height: $item-height;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-height: $item-height / 4;
      -webkit-box-orient: vertical;
      padding: 0 5px;
      color: #000;
    }
  }
}
