
$item-height: 90px;

body {
  background: transparent;
}

.links-modal {
  .pair-select {
    margin-bottom: 20px;
    width: 100%;
  }

  .the-table {
    // margin-bottom: 15px;
    width: 100%;
    border-collapse: collapse;

    tr > td:first-child {
      width: 80px;

      &::after {
        content: ':'
      }
    }

    td {
      padding-bottom: 5px;
      // border: 1px solid #ddd;
      word-break: break-all;
    }
  }

  .one-column {
    & > * {
      &:nth-child(even) {
        background: #f0f0f0;
      }
    }
  }

  .two-columns {
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      h3 {
        margin-bottom: 15px;
      }
    }
  }

  .bridge-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .bridge-image {
      box-sizing: content-box;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width:  $item-height * 4 / 3;
      height: $item-height;
      border: 1px solid #eee;

      img {
        max-height: $item-height;
        max-width: $item-height * 4 / 3;
      }
    }

    .bridge-detail {
      flex: 1;
      margin: 0 25px 0 15px;
      word-break: break-all;

      & > * {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      label {
        &::after {
          content: ':'
        }

        margin-right: 10px;
        width: 70px;
      }

      .the-table {
        td {
          padding: 0 0 5px 0;
          border: 0;
        }
      }
    }

    .bridge-type {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: $item-height;

      img {
        max-height: $item-height / 2;
      }
    }
  }

  .annotation-item {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .arrow {
    background-color: transparent !important;
  }
}
