body {
  background: transparent;
}

.links-modal {
  .pair-select {
    margin-bottom: 20px;
    width: 100%;
  }

  .the-table {
    margin-bottom: 15px;
    width: 100%;
    border-collapse: collapse;

    tr > td:first-child {
      width: 100px;
      min-width: 100px;

      &::after {
        content: ' :'
      }
    }

    td {
      padding: 5px;
      border: 1px solid #ddd;
      word-break: break-all;
    }
  }

  .two-columns {
    display: flex;
    flex-direction: row;

    & > * {
      flex: 1;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      h3 {
        margin-bottom: 15px;
      }
    }
  }
}
