@import '../styles/basic.scss';

body {
  padding: 20px;
}

::placeholder{
	font-size: 14px;
}

.upsert-relation-wrapper {
  h2 {
    color: $primary-color;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }

  .actions {
    button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
