
.msg-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
}

.msg-text {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 5px;
  padding: 15px 25px;
  color: #ffffff;

  &.success {
    background: #4abd3b;
  }

  &.danger {
    background: #d24545;
  }

  &.info {
    background: #2c85e2;
  }
}
