@import '../../styles/basic.scss';

.user-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  margin: 0 15px;

  .user-name-box {
    color: #808080;

    .user-name {
      font-weight: bold;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;

    & > * {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .logout-button {
      color: $link-color;
      cursor: pointer;
    }
  }

}

