@import '../styles/basic.scss';

.clamp-pre {

  &.fold {
    pre {
      display: -webkit-box;
    }
  }

  pre {
    display: block;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-wrap;
  }

  .action-button {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: $primary-color;
    cursor: pointer;

    .toggle-fold {
      margin-right: 15px;
      min-width: 63px;
    }
  }
}

