
.home {
  padding: 0 15px;

  .annotate-0 {
    padding-top: 30px;

    .one-line-button {
      display: block;
      margin: 0 20px 20px;

      button {
        width: 100%;
      }
    }
  }

  .annotate-1 {
    padding: 30px 0;
    min-width: 600px;

    .two-annotation {
      display: flex;
      flex-direction: row;

      .annotate-item {
        flex: 1;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 15px;

      button {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      .cancel-button {
        width: 150px;
      }
    }

    .build-link-button {
      margin-top: 15px;
      width: 100%;
    }
  }
}
