
.home {
  padding: 0 15px;

  .annotate-0 {
    padding-top: 30px;

    .one-line-button {
      display: block;
      margin: 0 20px 20px;

      button {
        width: 100%;
      }
    }
  }

  .annotate-1 {
    .build-link-button {
      margin-top: 15px;
      width: 100%;
    }
  }

  .with-annotation {
    padding: 30px 0;
    min-width: 600px;

    .two-annotation {
      display: flex;
      flex-direction: row;

      .annotate-item {
        flex: 1;
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 4px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 15px;

      button {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      .create-link-button,
      .cancel-button {
        width: 150px;
      }
    }
  }

  .to-create-link {
    padding: 30px 0;
    min-width: 600px;

    h2 {
      color: #EF5D8F;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }

    .relationship-row {
      display: flex;
      flex-direction: row;

      & > * {
        flex: 1;
        margin-right: 15px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .image-box {
      width: 160px;
      height: 100px;
      overflow: hidden;
      border: 1px solid #ddd;
      border-radius: 4px;
      text-align: center;

      img {
        max-height: 100px;
        max-width: 160px;
      }
    }

    .actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 15px;

      button {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      .post-button,
      .cancel-button {
        width: 150px;
      }
    }
  }
}
