@import '../../styles/basic.scss';

.login-register {
  padding: 0 15px;

  .login-tabs {
    .tab-title {
      flex: 1;
      margin-right: 2px;
      padding: 10px 15px;
      border-radius: 4px;
      color: #3b5999;
      background: #efefef;
      text-align: center;
      font-weight: bold;
      font-size: 13px;

      &.active {
        color: #fff;
        background: $primary-color;
      }
    }

    .tab-pane {
      padding-top: 30px;
    }
  }

  .login-wrapper {
    .login-form {

    }
  }

  .register-wrapper {
    .hint {
      margin-bottom: 10px;
      color: #3a87ad;
    }

    .actions {
      display: flex;
      justify-content: space-between;
    }
  }
}
