.settings-page {
  padding: 20px 20px 40px;

  .feedback-link {
    color: #EF5D8F;
    font-size: 22px;
    margin-top: 10px;
    display: inline-block;
  }
  .logo-banner {
    margin-bottom: 20px;
    text-align: center;

    img {
      max-width: 100%;
    }
  }

  .settings-form {
  }
}
