body {
  padding: 20px;
}

::placeholder{
	font-size: 14px;
}
.annotation-wrapper {
  .actions {
    button {
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
