.icon-style {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.btn-style {
    margin-top: 20px;
    margin-left: 10px 
}
.input-style {
    margin-top: 8px;
    margin-left: 10px 
}

.time-section {
    margin-top: 10px;
    text-align: center;
    font-weight: 800
    
}

.minute-time {
    margin-top: 5px;
    // padding-left: 15px;

}