.cursor {
    cursor: pointer;
}

.cursor-1 {
    cursor: context-menu;
}

.blank-elements {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-top: 300px;
    margin-left: 50px;
}